@font-face {
  src: url(./font/Inter-Regular.ttf);
  font-family: 'Inter';
}

@font-face {
  src: url(./font/Inter-Medium.ttf);
  font-family: 'InterM';
}

@font-face {
  src: url(./font/Inter-Bold.ttf);
  font-family: 'InterB';
}

@font-face {
  src: url(./font/ferry_black.otf);
  font-family: 'Ferry';
}

.container1360 {
  max-width: 1360px;
  margin: 0 auto;
}

body {
  margin: 0px;
}

body * {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter';
}

main {
  margin: 0px 20px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform .3s;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
button:disabled:hover {
  transform: scale(1);
  box-shadow: none;
}

a:hover {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

h1 {
  font-family: 'Ferry';
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.01em;
}
@media (max-width: 960px) {
  h1 {
      font-size: 44px;
      line-height: 53px;
  }
}
@media (max-width: 768px) {
  h1 {
      font-size: 28px;
      line-height: 34px;
  }
}


h2 {
  font-family: 'Ferry';
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.01em;
}
@media (max-width: 960px) {
  h2 {
      font-size: 38px;
      line-height: 44px;
  }
}
@media (max-width: 768px) {
  h2 {
      font-size: 28px;
      line-height: 34px;
  }
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-family: 'Ferry';
}
@media (max-width: 1024px) {
  h3 {
    font-size: 31px;
    line-height: 37px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Ferry';
}
@media (max-width: 768px) {
  h4 {
    font-size: 28px;
    line-height: 34px;
  }
}

.white {
  color: white;
}